








body{/*Basic css for the body variable, found on all pages*/
    padding: 0;
    margin: 0px;
    background-color: grey;
    text-align: center;
    box-sizing: border-box;
}

nav{ /*CSS for the navigation container, found on all pages*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: grey;
    font-family:'Aldrich', sans-serif;
}
/*Setting the text to have letter spacing, uppercase and have a fontsize*/
.logo{
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
/*The CSS for the links themselves - found on all pages*/
.navigationLinks{
    display: flex;
    justify-content: space-around;
    z-index: 1;
    width: 30%;
}
/*Removes the bullet points from the navigation - found on all pages*/
.navigationLinks li{
    list-style: none;
}
/*Setting a hover colour to blue when links are hovered over - found on all pages*/
li a:hover {
    color: blue;
}
/*setting the css for the text of the links, sets there colour, letter spacing and font size and weight - found on all pages*/
.navigationLinks a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}
/*Not displaying burger on desktop view - found on all pages*/
.burgernav {
    display: none;
    cursor: pointer;
}
/*Setting size for the burger - found on all pages*/
.burgernav div{
    width: 25px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 5px
    
}
/* Adding media Queries for the burger for mobile view to make it responsive - found on all pages*/
@media screen and (max-width:1024px){ /*when its at this size, it hides the burger but displays the normal links*/
    body{
        overflow-x: hidden;
    }
    .navigationLinks{
        width: 60px;
    }
}
@media screen and (max-width:768px){ /* When its at this size it displays the hamburger navigation along with the other tweaks to the navigation e.g. opacity - found on all pages*/
    .navigationLinks{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.25s ease-in;
    }
    .navigationLinks li{
        opacity: 1;
    }
    .burgernav{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
/*Each link fades in slowly, from opacity 0 (Not visible) to opacity 1 (visable)*/
@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/*Setting the rotation of the burger lines when the burger is clicked - found on all pages*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
/*CSS for the Content on index page*/
.content-index{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Poppins;
}
.content-index .p1{
    text-align: center;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Poppins;
}
/*CSS For the content on the portfolio Page*/
.content-portfolio{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Poppins;
}

/*Social Media Images*/
footer {
    margin: top;
    text-align: center;
    padding: 0 40px 40px 40px;
}
/*css for images on index page*/
.imgindex{
overflow: hidden;
border-style: none;
text-align: bottom;
}

/* My code */
/*Creating a grayscale feature when images are hovered over*/
.imgindex:hover{
filter: grayscale(1);
transition: background-size 0.3s ease;
}
.imgsocial:hover{
filter: grayscale(1);
transition: background-size 0.3s ease;
}

/*SlideShow CSS*/
/*Setting the size of the slideShow container - Index Page*/
.slideShow-container{
    position: relative;
    width: 42%;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
}
/*Setting the size of the slideshow itself - Index Page*/
.slideShow{
    display: flex;
    width: 100%;
    height: 500px;
}

/*Portfolio Gallery CSS*/
.content-portfolio {
    padding-bottom: 40px;
}
/*Setting the text size for the gallery-items - Portfolio Page*/
.gallery-item .h1{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Poppins;
}
/*Setting the size of the gallery container - Portfolio page*/
.gallery-container  {
    margin: 20px auto;
    width:400px;
    height:400px;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
/*Setting the size for the actual gallery items -Portfolio Page*/
.gallery-item{
    position: relative;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: all .3s;
    
}
/*Setting hover features for the gallery items, includes box shadow, grayscale etc. - Portfolio Page*/
.gallery-item.hover .image {
    filter: grayscale(1);
} 
.gallery-item:hover .middle {
    opacity: 1;
}
.gallery-item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8)
}
img.profile-pic{
    width: 100%;
}
img.profile-pic {
    border-radius: 20px; /* Code from https://ianrmedia.unl.edu/resources/rounded-corners-image, slightly modified */
    width: auto;
}
/*CV page CSS*/
/*Setting the text size, font and colours on the CV page*/
h2 {
    font-family: 'Poppins';
    font-size: 50px; 
    overflow: hidden;
    color: black;
    text-align: center;
}

.container {
    display: flex;
}
/*Setting the text size, font and colours on the CV page*/
.container h3  {
    margin: 0;    
    padding: 40px;
    width: 30%;
    min-width: 300px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: Poppins;
}
/*Setting the text size, font and colours on the CV page*/
.container h4 {
    margin: 0;
    padding: 40px;
    max-width: 70%;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-align: justify;
    font-family: Poppins;
}
/*Setting the text size, font and colours on the CV page*/
.container h4 p {
    margin: 0;
    font-family: Poppins;
}
/*Contact Page CSS*/
/*Setting the container CSS styles - Contact page*/
.contact-content {
    font-family: 'Poppins';
    font-size: 25px; 
    overflow: hidden;
    color: black;
    text-align: center;
}

.contact-content {
    text-align: center;
    padding: 0 40px 40px 40px;
}
/*aligning everything within a div to the center -Contact page*/
.contact-content div {
    text-align: center;
    max-width: 750px;
    display: inline-block;
}
/*Setting the size for all <p> related text - contact page*/
.contact-content p {
    font-size: 15px;
    text-align: justify;
    text-align:center;
}













h7{
    color:white;
    font-size: 4rem;
    font-family: sans-serif;
    text-align: center;
    line-height: 100vh;
}

